{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

		<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
	</head>
	<body>
		<!-- Your layout here --> <!-- https://stackoverflow.com/questions/20626685/better-way-to-set-distance-between-flexbox-items margin and padding-->
    <div style="display: flex; flex: auto; background-color: purple; height: 60em; width: 100%; justify-content: center;">
      <div style="flex: 0 0 20%;  justify-content: start; margin:0 -15px;">
        <div  style="flex : auto; background-color: yellow; flex-grow: 1;  margin: 2em; padding: 34% 0;">.</div>
      </div>
      <div style="flex: 0 0 20%;  justify-content: start; margin:0 -15px;">
        <div  style="flex : auto; background-color: yellow; flex-grow: 1;  margin: 2em; padding: 34% 0;">.</div>
      </div>
      <div style="flex: 0 0 20%;  justify-content: center; margin:0 -15px;">
        <div  style="flex : auto; background-color: yellow; flex-grow: 1;  margin: 2em; padding: 34% 0;">.</div>
        <div  style="flex : auto; background-color: yellow; flex-grow: 1;  margin: 2em; padding: 34% 0;">.</div>
      </div>
            <div style="flex: 0 0 20%;  justify-content: start; margin:0 -15px;">
        <div  style="flex : auto; background-color: yellow; flex-grow: 1;  margin: 2em; padding: 34% 0;">.</div>
      </div>
            <div style="flex: 0 0 20%;  justify-content: start; margin:0 -15px;">
        <div  style="flex : auto; background-color: yellow; flex-grow: 1;  margin: 2em; padding: 34% 0;">.</div>
      </div>
      
      
	</body>
</html>